<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>
<!-- Begin contact info fragment  -->
<div th:fragment="content">
    <div class="patterns">
        <svg width="100%" height="100%">
            <defs>
                <pattern id="polka-dots" x="0" y="0"                    width="100" height="100"
                         patternUnits="userSpaceOnUse">
                    <circle fill="#be9ddf" cx="25" cy="25" r="3"></circle>
                </pattern>
                <style>
                    @import url("https://fonts.googleapis.com/css?  family=Lora:400,400i,700,700i");
                </style>

            </defs>

            <rect x="0" y="0" width="700%" height="100%" fill="url(#polka-dots)"> </rect>




        </svg>
    </div>
</div>

<script>

    .patterns {
        height: 100vh;
    }
</script>
<!-- End contact info fragment  -->
</body>
</html>