<!DOCTYPE html>
<html>
<head>
    ...
</head>
<body>
    <!-- Begin contact info fragment  -->
    <div th:fragment="footer">
        <div class="contact" style="height: 35vh;">
            <!-- title jump -->
            <div class="row justify-content-center" style="margin-top: 2%;">
                <h3 style="margin-top: 3%;">P1-Donuts</h3>
            </div>
            <div class="row justify-content-center">
                <a href=https://github.com/4disease/p1-donuts-new/ target="_blank"><i class="fa fa-github"></i></a>
            </div>
        </div>
    </div>
    <!-- End contact info fragment  -->
</body>
</html>