<!-- <!DOCTYPE HTML>
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">

    <title>About Us</title>

</div></head>

<body>
<div class="contact" style="height: 35vh;">
    <div class="row justify-content-left" style="margin: 2%;">
        <form action="/greet" method="GET" id="greetForm">
            <div>
                <img class="img-responsive py-3" th:id="'kira' + ${i}" src="" th:src="@{'/images/kira.png'}" alt="" width="40" height="Auto">
                <img class="img-responsive py-3" th:id="'natasha' + ${i}" src="" th:src="@{'/images/natasha.png'}" alt="" width="40" height="Auto">
                <img class="img-responsive py-3" th:id="'ridhima' + ${i}" src="" th:src="@{'/images/ridhima.png'}" alt="" width="40" height="Auto">
                <img class="img-responsive py-3" th:id="'sam' + ${i}" src="" th:src="@{'/images/sam.png'}" alt="" width="40" height="Auto">
                <input name="name" id="greetField">
                <button>GrayScale</button>

            </div>
        </form>
    </div>
</div>
<div style="text-align: center; margin: 20%;">
    <a style=" color: Black; font-size: 50px;">About Us</a>
    <p>We are the P1-Donuts. Watch this video to learn about our project!</p>

</div>
</body>

</html> -->

<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>About Us</title>
    </div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h1 class="text-center">About Us</h1>
        <div class="row justify-content-md-center">
            <table class="table">
                <thead>
                <tr>
                    <th>Image</th>
                    <th>Grayscale Image</th>
                    <th>Samples of Data</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td>
                        <img class="img-responsive py-3"  th:src="@{'/images/kira.png'}" alt=""
                             width="175" height="200">
                    </td>

                    <td>
                        <img class="img-responsive py-3"  th:src="@{'data:image/jpg;base64,'+${row1}}" />" alt=""
                             width="175" height="200">
                    </td>

                    <td>
                        <div class="overflow-auto" style="height: 256px">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Row</th>
                                    <th>Column</th>
                                    <th>RGB</th>
                                    <th>Decimal</th>
                                    <th>Hex Code</th>
                                    <th>Binary</th>
                                </tr>
                                </thead>
                                <tbody>
                              <!--  <span th:each="row1: ${#numbers.sequence(0, ii.getScaled_height()-1)}">
                                        <tr th:each="col: ${#numbers.sequence(0, ii.getScaled_width()-1)}">
                                            <td th:text="${ii.getScaled_height(row)}">row</td>
                                            <td th:text="${ii.getScaled_width(col)}">column</td>
                                            <td th:text="${ii.getRGB(row,col)}">cell</td>
                                            <td th:text="${ii.getDecimal(row,col)}">cell</td>
                                            <td th:text="${ii.getHexCode(row,col)}">cell</td>
                                            <td th:text="${ii.getBinary(row,col)}">cell</td>
                                        </tr>
                                    </span> -->
                                </tbody>
                            </table>
                        </div>
                    </td>

                </tr>
                <tr >
                    <td>
                        <img class="img-responsive py-3"  th:src="@{'/images/natasha.png'}"  alt=""  width="175" height="AUTO" >
                    </td>
                    <td>
                        <img class="img-responsive py-3"  th:src="@{'data:image/jpg;base64,'+${row2}}" />" alt=""
                        width="175" height="200">
                    </td>
                    <td>
                        <div class="overflow-auto" style="height: 256px">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Row</th>
                                    <th>Column</th>
                                    <th>RGB</th>
                                    <th>Decimal</th>
                                    <th>Hex Code</th>
                                    <th>Binary</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--  <span th:each="row1: ${#numbers.sequence(0, ii.getScaled_height()-1)}">
                                          <tr th:each="col: ${#numbers.sequence(0, ii.getScaled_width()-1)}">
                                              <td th:text="${ii.getScaled_height(row)}">row</td>
                                              <td th:text="${ii.getScaled_width(col)}">column</td>
                                              <td th:text="${ii.getRGB(row,col)}">cell</td>
                                              <td th:text="${ii.getDecimal(row,col)}">cell</td>
                                              <td th:text="${ii.getHexCode(row,col)}">cell</td>
                                              <td th:text="${ii.getBinary(row,col)}">cell</td>
                                          </tr>
                                      </span> -->
                                </tbody>
                            </table>
                        </div>
                    </td>

                </tr>
                <tr >
                    <td>
                        <img class="img-responsive py-3"  th:src="@{'/images/ridhima.png'}" alt=""  width="175" height="AUTO">
                    </td>
                    <td>
                        <img class="img-responsive py-3"  th:src="@{'data:image/jpg;base64,'+${row3}}" />" alt=""
                        width="175" height="200">
                    </td>
                    <td>
                        <div class="overflow-auto" style="height: 256px">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Row</th>
                                    <th>Column</th>
                                    <th>RGB</th>
                                    <th>Decimal</th>
                                    <th>Hex Code</th>
                                    <th>Binary</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--  <span th:each="row1: ${#numbers.sequence(0, ii.getScaled_height()-1)}">
                                          <tr th:each="col: ${#numbers.sequence(0, ii.getScaled_width()-1)}">
                                              <td th:text="${ii.getScaled_height(row)}">row</td>
                                              <td th:text="${ii.getScaled_width(col)}">column</td>
                                              <td th:text="${ii.getRGB(row,col)}">cell</td>
                                              <td th:text="${ii.getDecimal(row,col)}">cell</td>
                                              <td th:text="${ii.getHexCode(row,col)}">cell</td>
                                              <td th:text="${ii.getBinary(row,col)}">cell</td>
                                          </tr>
                                      </span> -->
                                </tbody>
                            </table>
                        </div>
                    </td>

                </tr>
                <tr >
                    <td>
                        <img class="img-responsive py-3"  th:src="@{'/images/sam.png'}" alt=""  width="175" height="AUTO">
                    </td>
                    <td>
                        <img class="img-responsive py-3"  th:src="@{'data:image/jpg;base64,'+${row4}}" />" alt=""
                        width="175" height="200">
                    </td>
                    <td>
                        <div class="overflow-auto" style="height: 256px">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Row</th>
                                    <th>Column</th>
                                    <th>RGB</th>
                                    <th>Decimal</th>
                                    <th>Hex Code</th>
                                    <th>Binary</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--  <span th:each="row1: ${#numbers.sequence(0, ii.getScaled_height()-1)}">
                                          <tr th:each="col: ${#numbers.sequence(0, ii.getScaled_width()-1)}">
                                              <td th:text="${ii.getScaled_height(row)}">row</td>
                                              <td th:text="${ii.getScaled_width(col)}">column</td>
                                              <td th:text="${ii.getRGB(row,col)}">cell</td>
                                              <td th:text="${ii.getDecimal(row,col)}">cell</td>
                                              <td th:text="${ii.getHexCode(row,col)}">cell</td>
                                              <td th:text="${ii.getBinary(row,col)}">cell</td>
                                          </tr>
                                      </span> -->
                                </tbody>
                            </table>
                        </div>
                    </td>

                </tr>
                <tr >
                    <td>
                        <img class="img-responsive py-3"  th:src="@{'/images/adi.png'}" alt=""  width="175" height="AUTO">
                    </td>
                    <td>
                        <img class="img-responsive py-3"  th:src="@{'data:image/jpg;base64,'+${row5}}" />" alt=""
                        width="175" height="200">
                    </td>
                    <td>
                        <div class="overflow-auto" style="height: 256px">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Row</th>
                                    <th>Column</th>
                                    <th>RGB</th>
                                    <th>Decimal</th>
                                    <th>Hex Code</th>
                                    <th>Binary</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--  <span th:each="row1: ${#numbers.sequence(0, ii.getScaled_height()-1)}">
                                          <tr th:each="col: ${#numbers.sequence(0, ii.getScaled_width()-1)}">
                                              <td th:text="${ii.getScaled_height(row)}">row</td>
                                              <td th:text="${ii.getScaled_width(col)}">column</td>
                                              <td th:text="${ii.getRGB(row,col)}">cell</td>
                                              <td th:text="${ii.getDecimal(row,col)}">cell</td>
                                              <td th:text="${ii.getHexCode(row,col)}">cell</td>
                                              <td th:text="${ii.getBinary(row,col)}">cell</td>
                                          </tr>
                                      </span> -->
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>

                <!--<tr th:each="ii: ${lii}">
                   <td>
                       <div th:text="${ii.getFile()}">File name</div>
                       <div th:text="'(' + ${ii.getHeight()} + ',' + ${ii.getWidth()} + ')'">Height,Width</div>
                   </td>
                   <td>
                      <img class="img-responsive py-3" th:src="@{${ii.getFile()}}" alt="" src="${ii.getFile()}" width=128 height="Auto">

                    </td>

                </tr>-->
                </tbody>
            </table>

        </div>

    </div>
</div>
</body>

</html>