<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Class Demonstration</title>
</head>
<body>
<form action="/classminilab" method="GET" id="classForm">
    <div>
        <label for="studentname">Input syllabus information</label>
        <input name="studentname" id="studentname">
        <input name="parentname" id="parentname">
        <input type="checkbox" id="signed" name="signed" checked>
        <button>Input information</button>
    </div>
</form>

</body>
</html>