<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Intro</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="main_page" class="articles">
        <div class="product" style="margin-top: 2%;">
            <div class="row" style="padding: 0% 10% 5%;">
                <div class="col-8" >
                    <h1>Planner Home</h1>
                    <div class="card card-flip h-100" style="margin-top: 50px; width: 30rem; margin-bottom: 30px;">
                        <div class="card-front text-white bg-dark">
                            <div class="card-body">
                                <h3 class="card-title">Front</h3>
                                <p class="card-text">can add notes or a calendar</p>
                                <p class="card-text"></p>
                                <p class="card-text"></p>
                            </div>
                        </div>
                        <div class="card-back bg-info mb-1 text-dark">
                            <div class="card-body">
                                <h3 class="card-title">Back</h3>
                                <p class="card-text">more information on events</p>
                            </div>
                        </div>
                        <style>
                            .card-flip > div {
                                backface-visibility: hidden;
                                transition: transform 300ms;
                                transition-timing-function: linear;
                                width: 100%;
                                height: 100%;
                                margin: 0;
                                display: flex;
                            }

                            .card-front {
                                transform: rotateY(0deg);
                            }

                            .card-back {
                                transform: rotateY(180deg);
                                position: absolute;
                                top: 0;
                            }

                            .card-flip:hover .card-front {
                                transform: rotateY(-180deg);
                            }

                            .card-flip:hover .card-back {
                                transform: rotateY(0deg);
                            }
                        </style>
                    </div>
                    <div class="card bg-info mb-3" style="width: 50rem;" >
                        <div class="card-body">
                            <h5 class="card-title">Get Notifications</h5>
                            <p class="card-text">can add tasks & notifications</p>
                            <form action="/" method="GET" id="notifForm">
                                <div class="input-group-text">
                                  <label for="notifField">Type your notification</label>
                                    <input type="text" class="form-control" name="name" id="notifField">
                                  <label for="emailField">Email to notify you</label>
                                    <input type="text" class="form-control" name="email" id="emailField">
                                  <button> Notify me!</button>
                                  <!-- p th:text= ${numer1}*${number2}></p-->
                                </div>
                              </form>
                        </div>
                    </div>
                    <div class="card bg-info mb-3" style="width: 50rem;" >
                        <div class="card-body">
                            <h5 class="card-title">Reminders</h5>
                            <p class="card-text">can add tasks & notifications</p>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="card bg-info" style="margin-top: 2px; margin-left: 1000px; width: 20rem;" >
                        <div class="card-body">
                            <h5 class="card-title">Notes</h5>
                            <p class="card-text">some temporary notes</p>
                            <p class="card-text">more notes</p>
                            <p class="card-text">To Do Lists</p>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: 50px; width: 20rem; margin-left:1000px">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                    <div class="input-group" style="width: 20rem; margin-left:1000px">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                    <div class="input-group" style="width: 20rem; margin-left:1000px">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                    <div class="input-group" style="width: 20rem; margin-left:1000px">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                    <div class="input-group" style="width: 20rem; margin-left:1000px">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- End of body content specific to page -->

</div></body>

</html>