<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Intro</title>
    <script>
        function add_field()
        {
            var total_text=document.getElementsByClassName("input_text");
            total_text=total_text.length+1;
            document.getElementById("field_div").innerHTML=document.getElementById("field_div").innerHTML+
                "<div class='input-group' style='margin-top: 10px; width: 20rem;'><div class='input-group-prepend'><div class='input-group-text'> <input type='radio'></div></div><input type='text' class='form-control'></div>";
        }
    </script>

    <script>

        function getSchedule(){
            const dt = new Date();
            const day = dt.getDay();

            if(day === 0){
                document.getElementById("schedule").innerHTML = "Sunday</br></br>No school today! Catch up on your work!";
            }
            if(day === 1){
                document.getElementById("schedule").innerHTML = "Monday</br></br>Period 1: 8:10AM - 9:20AM</br>" +
                    "Period 2: 9:25AM - 10:37AM</br>" +
                    "Break: 10:37AM - 10:47AM</br>" +
                    "Period 3: 10:52AM - 12:02PM</br>" +
                    "Period 4: 12:07PM - 1:17PM</br>" +
                    "Lunch: 1:17PM - 1:47PM</br>" +
                    "Period 5: 1:52PM - 3:02PM</br>" +
                    "Tutorial: 3:02PM - 3:32PM";
            }
            if(day === 2){
                document.getElementById("schedule").innerHTML = "Tuesday</br></br>\n" +
                    "Period 1: 9:05AM - 10:10AM</br>\n" +
                    "Period 2: 10:15AM - 11:22AM</br>\n" +
                    "Break: 11:22AM - 11:32AM</br>\n" +
                    "Period 3: 11:37AM - 12:42PM</br>\n" +
                    "Lunch: 12:42PM - 1:12PM</br>\n" +
                    "Period 4: 1:17PM - 2:22PM</br>\n" +
                    "Period 5: 2:27PM - 3:32PM</br>"

            }
            if(day === 3){
                document.getElementById("schedule").innerHTML = "Wednesday</br></br>\n" +
                    "Period 1: 8:10AM - 9:20AM</br>\n" +
                    "Period 2: 9:25AM - 10:37AM</br>\n" +
                    "Break: 10:37AM - 10:47AM</br>\n" +
                    "Period 3: 10:52AM - 12:02PM</br>\n" +
                    "Period 4: 12:07PM - 1:17PM</br>\n" +
                    "Lunch: 1:17PM - 1:47PM</br>\n" +
                    "Period 5: 1:52PM - 3:02PM</br>\n" +
                    "Tutorial: 3:02PM - 3:32PM"
            }
            if(day === 4){
                document.getElementById("schedule").innerHTML = "Thursday</br></br>\n" +
                    "Period 1: 8:10AM - 9:20AM</br>\n" +
                    "Period 2: 9:25AM - 10:37AM</br>\n" +
                    "Break: 10:37AM - 10:47AM</br>\n" +
                    "Period 3: 10:52AM - 12:02PM</br>\n" +
                    "Period 4: 12:07PM - 1:17PM</br>\n" +
                    "Lunch: 1:17PM - 1:47PM</br>\n" +
                    "Period 5: 1:52PM - 3:02PM</br>\n" +
                    "Tutorial: 3:02PM - 3:32PM"
            }
            if(day === 5){
                document.getElementById("schedule").innerHTML = "Friday\n" +
                    "Period 1: 8:10AM - 9:20AM</br>\n" +
                    "Period 2: 9:25AM - 10:37AM</br>\n" +
                    "Break: 10:37AM - 10:47AM</br>\n" +
                    "Homeroom: 10:52AM - 11:17PM</br>\n" +
                    "Period 3: 11:22AM - 12:32PM</br>\n" +
                    "Lunch: 12:32PM - 1:02PM</br>\n" +
                    "Period 4: 1:07PM - 2:17PM</br>\n" +
                    "Period 5: 2:22PM - 3:32PM\n"
            }
            if(day === 6){
                document.getElementById("schedule").innerHTML = "Saturday</br></br>No school today! Catch up on your work!";
            }
        }

    </script>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body onload="getSchedule()"><div layout:fragment="content" th:remove="tag">
    <!-- Start of body content specific to page -->
    <div id="main_page" class="articles">
        <div class="product" style="margin-top: 5%; height: 150vh">
            <div class="row" style="padding: 0% 10% 5%;">
                <div class="col-8" style="margin-left: -125px;">
                    <h1>Planner Home</h1>
                    <div class="card card-flip h-100" style="margin-top: 25px; width: 30rem; margin-bottom: 30px;">
                        <div class="card-front text-white bg-dark">
                            <div class="card-body">
                                <h3 class="card-title">Today's Schedule</h3>
                                <p class="card-text" id="schedule">Schedule</p>
                            </div>
                        </div>
                        <div class="card-back mb-1 text-dark">
                            <div class="card-body">
                                <h3 class="card-title">Back</h3>
                                <p class="card-text">more information on events</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-mb-3" style="width: 50rem;" >
                        <div class="card-body">
                            <h5 class="card-title">Get Notifications</h5>
                            <p class="card-text">can add tasks & notifications</p>
                            <form action="/" method="GET" id="notifForm">
                                <div class="input-group-text">
                                    <label for="notifField">Type your notification</label>
                                    <input type="text" class="form-control" name="name" id="notifField">
                                    <label for="emailField">Email to notify you</label>
                                    <input type="text" class="form-control" name="email" id="emailField">
                                    <button> Notify me!</button>
                                    <!-- p th:text= ${numer1}*${number2}></p-->
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-9" style="margin-left: 800px;">
                    <div class="form-group" style="margin-top: -340px; width: 20rem;" >
                        <label for="Textarea">Notes</label>
                        <textarea class="form-control"id="Textarea" rows="8"></textarea>
                    </div>
                    <div id="wrapper">
                        <div id="field_div">
                            <button class="button button1" type="button" onclick="add_field();" style="margin-left: 105px;">Add Note</button>
                        </div>
                    </div>
                    <div class="input-group" style="margin-top: 10px; width: 20rem;">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                    <div class="input-group" style="margin-top: 13px; width: 20rem;">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                    <div class="input-group" style="margin-top: 13px; width: 20rem;">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                    <div class="input-group" style="margin-top: 13px; width: 20rem;">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                    <div class="input-group" style="margin-top: 13px; width: 20rem;">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <input type="radio" aria-label="Radio button for following text input">
                            </div>
                        </div>
                        <input type="text" class="form-control" aria-label="Text input with radio button">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        .card-flip > div {
            backface-visibility: hidden;
            transition: transform 300ms;
            transition-timing-function: linear;
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
        }

        .card-front {
            transform: rotateY(0deg);
        }

        .card-back {
            transform: rotateY(180deg);
            position: absolute;
            top: 0;
            background-color: #60a8ad;
        }

        .card-flip:hover .card-front {
            transform: rotateY(-180deg);
        }

        .card-flip:hover .card-back {
            transform: rotateY(0deg);
        }

        .button1 {
            text-align: center;
            border: #000000;
            background-color: #60a8ad;
            color: black;
            font-size: 24px;
            border-radius: 50px;
        }

        .card-mb-3 {
            background-color: #60a8ad;
        }

        .form-group {
            background-color: #60a8ad;
        }
    </style>
</div>
<!-- End of body content specific to page -->

</div></body>

</html>