<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="metadata" th:remove="tag">
    <title>Quotes</title>
    <style>
        table, td, th {
            border: 1px solid white;
        }
        td, th {
            text-align:right;
        }
        td:first-child, th:first-child {
            text-align: center;
        }
    </style>
</div>

<!-- <body> -->
<div layout:fragment="content" th:remove="tag">
    <div class="container">

        <div class="row justify-content-md-center" style="margin-top: 80px;">
            <h1><strong>Inspirational Quotes</strong></h1>
        </div>

        <div class="row justify-content-md-center" style="margin-top: 10px;">
        <form action="/quotes" method="GET" id="quoteForm">
            <button>Get Quote!</button>
        </form>
        </div>

        <table class="table" style="margin-top: 20px;">
            <tr>
                <th>Quote</th>
                <th>Author</th>
            </tr>
            <tr>
                <!-- Usage of Java HashMap and Thymeleaf -->
                <td th:text="${quotes.content}"></td>
                <td th:text="${quotes.originator.name}"></td>
            </tr>
        </table>

        <table class="table">
            <tr>
                <th>Quotes Data Using JSON object get</th>
            </tr>
            <td th:text="${quotes}"></td>
            </tr>
        </table>

    </div>
</div>

</html>