`<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">
<head>
    <div layout:fragment="metadata" th:with="bits=${newbit}" th:remove="tag">
        <title>Tasks Page</title>

    </div></head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function popup() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
    }
</script>

<body>
<div layout:fragment="content" th:with="bits=${newbit}" th:remove="tag">
    <form style="margin-top: 100px; margin-left: 80px;">
        <p class="category-search">Select Task Categories to Filter</p>
        <input type="checkbox" name="categories" vaue="Other" />Other<br />
        <input type="checkbox" name="categories" vaue="English" />English<br />
        <input type="checkbox" name="categories" vaue="Math" />Math<br />
        <input type="checkbox" name="categories" vaue="Science" />Science<br />
        <input type="checkbox" name="categories" vaue="History" />History<br />
        <input type="checkbox" name="categories" vaue="CS" />CS<br />
        <input type="checkbox" name="categories" vaue="OtherHW" />Other HW<br />
    </form>
    <div style=" width: 1500px; padding:30px;">
        <div class="card" style="width: 18rem; margin-top: 10px; margin-left:50px; margin-right: 50px; display: inline-block;" th:each ="tasks : ${list}">
            <div class="card-front">
                <img class="card-img-top" th:src="@{/images/tasks_waterlily.jpg}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title" th:text="${tasks.title}">Card title</h5>
                    <p class="card-text" th:text="${tasks.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="more-details">
                        <button class="more-details-btn" style="width:9rem; height:4rem; margin-left: 50px; background-color: #60a8ad; border-color: white; border-radius: 50px; font-size: large; color: white;">More details</button>
                        <div class="more-details-box">
                            <p class="card-details" th:text="${tasks.details}">Some more details and information</p>
                            <p class="card-date" th:text="'Date: ' + ${tasks.date}">00/00/0000</p>
                            <p class="card-category" th:text="'Category: ' + ${tasks.category}">none</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="create-task-card" style="width: 100%; text-align: center; display: inline-block;">
        <div class="create-task-card-front">
            <div class="create-task-card-body">
                <h5 class="create-task-card-title">Create New Task</h5>
                <p class="create-task-card-text">Set Information</p>
                <form action="/tasks" method="GET" id="taskForm" style="margin-left: 80px">
                    <div>
                        <p class="input-text1">Title</p>
                        <input name="title" id="title">
                        <p class="input-text2">Basic Description</p>
                        <input name="description" id="description">
                        <p class="input-text3">Additional Details</p>
                        <input name="details" id="details">
                        <p class="input-text4">Dates</p>
                        <input type="date" id="date" name="date" min="2021-01-01" max="3052-12-31">
                        <p class="input-text5">Category</p>
                        <select name="category" id="category">
                            <option value="Other">Other</option>
                            <option value="English">English</option>
                            <option value="Math">Math</option>
                            <option value="Science">Science</option>
                            <option value="History">History</option>
                            <option value="CS">CS</option>
                            <option value="OtherHW">Other HW</option>
                        </select>
                        <button>Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <style>
        .more-details-box{
            visibility: hidden;
            background-color: #60a8ad;
            color:#ffffff;
            padding:20px;
            float:bottom;
            margin:20px;
            position: absolute;
            z-index: 1;
        }
        .more-details:hover .more-details-box{
            visibility:visible;
            opacity:1;
        }

        .create-task-card {
            background-color: #60a8ad;
            color: white;
            border: white;
        }
    </style>
</div>
</html>
</body>