<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tasks Page</title>

</head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<body>

<div>
    <form action="/tasks" method="GET" id="samForm">
        <div>
            <input name="title" id="number1">
            <input name="description" id="number2">
            <button>Add</button>
        </div>
    </form>
</div>

<div style=" width: 1500px; padding:30px;">
<div class="card" style="width: 18rem; margin:50px; display: inline-block;" th:each ="tasks : ${list}">
    <img class="card-img-top" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.Gdvlusp63LdHQbO97TNk5AHaEK%26pid%3DApi&f=1" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title" th:text="${tasks.title}">Card title</h5>
        <p class="card-text" th:text="${tasks.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">More details</a>
    </div>
</div>
</div>

</body>
</html>